# Kopjo kete file si ".env" dhe plotesoje me vlerat reale (mos e commit .env vete)

SPRING_BOOT_BASE_URL=http://localhost:8080
ANTHROPIC_API_KEY=
MLFLOW_TRACKING_URI=http://localhost:5000
MODELS_DIR=./models
DATASETS_DIR=./datasets